li {
    list-style: none;
}

.pokeList {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20%, 1fr));
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 0;
}

.pokeTeamList {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15%, 1fr));
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 0;
}

.pokeCard {
    align-items: center;
    margin: auto;
    margin-top: 1vh;
}

.mons {
    width: fit-content;
}

.types {
    max-width: 100px;
    align-self: center;
    margin: 5px 0;
}

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(blue, magenta);
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.loginContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
    background: #fbfbfb;
    width: 35vw;
    height: 50vh;
    padding: 5px;
    box-shadow: 13px 17px 15px -3px rgba(0,0,0,0.1);
}

.loginButton {
    all: unset;
    color: white;
    background: linear-gradient(blue, magenta);
    width: 60%;
    padding: 15px;
    cursor: pointer;
}


.flexCol {
    display: flex;
    flex-direction: column;
}

.flexSpaceBetw {
  display: flex;
  justify-content: space-between;
}

.flexSpaceBetw {
  display: flex;
  justify-content: space-evenly;
}

.gap30 {
  gap: 30px;
}

.padd5 {
  padding: 5px;
}